.about-content {
  width: 70%;
  margin: 0% auto 0 auto;

  @media (min-width: 767px) {
    margin: 40px auto 0 auto;
  }

  @media (min-width: 992px) {
    width: 40%;
    margin: 40px auto 0 auto;
  }
}
