.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    // &--home {
    //     @include bp('tab') {
    //         justify-content: flex-start;
    //         padding: 0 150px;
    //     }
        
    //     @include bp('desktop') {
    //         padding: 0 200px;
    //     }
    // }
}